<html>
<head>
    <script src="{{ url_for('static', filename='js/jquery-3.2.0.min.js') }}" charset="utf-8"></script>
</head>
<body>
    <form method="POST" action="{{ url_for('register') }}">
        Name: <input type="text" name="name">
        <br>

        Password: <input type="password" name="password">

        <br>

        Re enter Password: <input type="password" name="password2">

        <input type="submit" value="Register">
    </form>


    <h1>LOGIN</h1>
    <form method="POST" action="{{ url_for('login') }}">
        Name: <input type="text" name="name">
        <br>

        Password: <input type="password" name="password">

        <input type="submit" value="Login">
    </form>

    <script type="text/javascript">
        function load_more_content() {
            // step 1
            $.get("{{ url_for('load_more_content') }}",
                // step 2
                {"data": 12345},
                // step 3
                function(data) {
                    $("#more_content").html(
                        "<ul class='movie'><li>" + 
                        data['name'] + "</li><li>" + 
                        data['age'] + "</li><li>" + 
                        data['height'] + "</li><li>" + 
                        data['weight'] + "</li><li>" + 
                        data['movies'] + "</li></ul>"
                    )
                })
        }
    </script>

    <h1>LOAD MORE CONTENT</h1>
    <div id="more_content"></div>
    <button onclick="load_more_content()" href="#post">LOAD</button>
</body>
</html>

















